[buildout]

parts =
    voteit.core
    pydev
    test
    pylint

eggs =
    voteit.core
    voteit.schulze
    Sphinx
    docutils
    repoze.sphinx.autointerface

#Managed by Mr Developer
develop = 

newest = false
prefer-final = true
eggs-directory = ${buildout:directory}/eggs
download-cache =

extensions = 
    mr.developer

# mr.developer settings:
sources = sources
auto-checkout = *

versions = versions


[voteit.core]
recipe = zc.recipe.egg
dependent-scripts = true
unzip = true
eggs =
    ${buildout:eggs}
interpreter = py


[pydev]
recipe = pb.recipes.pydev
pydevproject_path = ${buildout:directory}/.pydevproject
eggs = ${buildout:eggs}
extra_paths = ${buildout:directory}/lib/python2.6/


[sources]
voteit.core = git git@github.com:VoteIT/voteit.core.git
voteit.schulze = git git@github.com:VoteIT/voteit.schulze.git
betahaus.pyracont = git git@github.com:robinharms/betahaus.pyracont.git

#colander = git git@github.com:robinharms/colander.git
#deform = git git@github.com:robinharms/deform.git

#Read-only sources
#voteit.core = git git://github.com/VoteIT/voteit.core.git
#voteit.schulze = git git://github.com/VoteIT/voteit.schulze.git
#betahaus.pyracont = git git://github.com/robinharms/betahaus.pyracont.git


[test]
recipe = pbp.recipe.noserunner
eggs = 
    pbp.recipe.noserunner
    coverage
    ${voteit.core:eggs}
working-directory = ${buildout:directory}/src/voteit.core/voteit/core
defaults =
    --detailed-errors
    --nocapture
    --cover-package=voteit.core
    --with-coverage
    --cover-erase
    --with-doctest
    --doctest-tests
    --doctest-extension=txt


[pylint]
recipe = zc.recipe.egg
unzip = true
#Note: Importing all voteit.core dependencies makes pylint a lot slower.
#Remove that line if you need speed and don't care about checking imports
eggs =
    pylint
    ${voteit.core:eggs}
entry-points = pylint=pylint.lint:Run
arguments = sys.argv[1:]


[versions]
pyramid = 1.2.1
Sphinx = 1.0.7
