[buildout]

parts =
    voteit.core
    pydev
    test
    pylint

eggs =
    coverage
    nose
    voteit.core
    voteit.schulze
    voteit.dutt
    voteit.exportimport
    voteit.site


#Managed by Mr Developer
develop =

newest = false
prefer-final = true
eggs-directory = ${buildout:directory}/eggs
download-cache =

extensions = 
    mr.developer

# mr.developer settings:
sources = sources
auto-checkout = *

versions = versions


[voteit.core]
recipe = zc.recipe.egg
dependent-scripts = true
unzip = true
eggs =
    ${buildout:eggs}
interpreter = py


[pydev]
recipe = pb.recipes.pydev
pydevproject_path = ${buildout:directory}/.pydevproject
eggs = ${buildout:eggs}
extra_paths = ${buildout:directory}/lib/python2.7/


[sources]
#If you have commit rights to VoteIT repos, you can use this
voteit.core = git git@github.com:VoteIT/voteit.core.git
voteit.schulze = git git@github.com:VoteIT/voteit.schulze.git
voteit.dutt = git git@github.com:VoteIT/voteit.dutt.git
voteit.exportimport = git git@github.com:VoteIT/voteit.exportimport.git
voteit.site = git git@github.com:VoteIT/voteit.site.git

#Read-only sources
#If you want to checkout VoteIT read-only, comment out the lined above and use these
#repositories instead. You may also fork a repo, and then add that url here.
#voteit.core = git git://github.com/VoteIT/voteit.core.git
#voteit.schulze = git git://github.com/VoteIT/voteit.schulze.git
#voteit.dutt = git git://github.com/VoteIT/voteit.dutt.git
#voteit.exportimport = git git://github.com/VoteIT/voteit.exportimport.git

#See https://github.com/VoteIT/voteit.core/issues/6
#fanstatic = hg https://bitbucket.org/fanstatic/fanstatic
#Released
#betahaus.viewcomponent = git git@github.com:robinharms/betahaus.viewcomponent.git
#betahaus.pyracont = git git@github.com:robinharms/betahaus.pyracont.git


[test]
recipe = pbp.recipe.noserunner
eggs = 
    pbp.recipe.noserunner
    ${buildout:eggs}
working-directory = ${buildout:directory}/src/voteit.core/voteit/core
defaults =
    --detailed-errors
    --nocapture
    --cover-package=voteit.core
    --with-coverage
    --cover-erase
    --with-doctest
    --doctest-tests
    --doctest-extension=txt


[pylint]
recipe = zc.recipe.egg
unzip = true
#Note: Importing all voteit.core dependencies makes pylint a lot slower.
#Remove that line if you need speed and don't care about checking imports
eggs =
    pylint
    ${buildout:eggs}
entry-points = pylint=pylint.lint:Run
arguments = sys.argv[1:]


[versions]
pyramid = 1.2.4
