[buildout]
extends =
    buildout.cfg
    etc/sources_https.cfg

parts =
    voteit.core
    crontab-reboot
    crontab-pack
    redis
    redis-build
    redis-server

eggs +=
    supervisor
    pyramid_exclog

eggs -=
    coverage
    nose
    pyramid_debugtoolbar
    pyramid_ipython
    lingua


[sources]


[crontab-pack]
#Pack database to remove old versioned objects
recipe = z3c.recipe.usercrontab
# m h   dom mon dow | pack wednesday night
times = 00 03   * *  3
command = ${buildout:directory}/bin/zeopack -u ${buildout:directory}/var/ZEO.sock
