[buildout]
extends = buildout.cfg

parts =
    voteit.core

eggs =
    voteit.core
    voteit.schulze
    voteit.dutt
    voteit.site
    voteit.exportimport
    voteit.statistics
    voteit.feed
    voteit.importparticipants
    voteit.cloudsignon
    supervisor


[sources]
#Read-only sources
voteit.core = git git://github.com/VoteIT/voteit.core.git
voteit.schulze = git git://github.com/VoteIT/voteit.schulze.git
voteit.dutt = git git://github.com/VoteIT/voteit.dutt.git
voteit.site = git git://github.com/VoteIT/voteit.site.git
voteit.statistics = git git://github.com/VoteIT/voteit.statistics.git
voteit.exportimport = git git://github.com/VoteIT/voteit.exportimport.git
voteit.feed = git git://github.com/VoteIT/voteit.feed.git
voteit.importparticipants = git git://github.com/VoteIT/voteit.importparticipants.git
voteit.cloudsignon = git git://github.com/VoteIT/voteit.cloudsignon.git